name: CI
'on':
  push:
    branches: [master]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: yarn

      - name: Install Packages
        run: yarn --immutable

      - name: Run linter
        run: yarn lint
